{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}

{% block main %}
<h2> Information about the book "{{ title }}" </h2>
  <div class="container-fluid pt-3 my-0 bg-dark text-white text-center">
  <h4>{{ bookTitle }}</h4> <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card bg-secondary text-white border-light" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Title: {{ title }}</h4>
            <p class="card-text"> Author: {{ author }}</p>
            <p class="card-text"> Published: {{ published }}</p>
            <p class="card-text"> ISBN: {{ isbn }}</p>
            <p class="card-text"> GoodReads average rating: {{ ratingGR }} (number of ratings:{{ votesGR }})</p>
          </div>
          <br><br>
       </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-secondary text-white border-light" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Post your review</h4>
            <form action="/postcomment" method="post">
                <div class="form-group">
                    <input type="hidden" name="isbn" value={{ isbn }}>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="score" placeholder="score" type="text">
                </div>
                <div class="form-group">
                    <textarea name = "comment" placeholder = "Message" rows="5"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Post Review</button>
            </form>
          </div>
         </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-12">
        <div class="card bg-secondary text-white border-light" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Reviews</h4>
            <p class="card-text"> Average rating: {{ score }}</p>
            <br><br>
            {% for i in range(length) %}
            <p class="card-text">By: {{ username[i] }}</p>
            <p class="card-text">Posted on {{ datetime[i] }}</p>
            <p class="card-text">Review: {{ comment[i] }}</p>
            <br><br>
            {% endfor %}
          </div>
         </div>
      </div>
      </div>
      <br><br>
      </div>

{% endblock %}
